body {
    padding:0;
    margin:0;
    font-family: "Lato";
    line-height: 1.5;
}

html {
    margin:0;
    padding:0;
}

nav {
    background-color: #2c3e50;
    height:10.7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titre {
    /* border:white solid 2px; */
    padding-right: 160px;
}

.titre p {
    color:white;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 22px;
}

.navbar {
    display: flex;
    gap:30px;
    /* padding-right: 25px; */
    /* border:white solid 2px; */
}

.navbar p {
    color:white;
    font-family: "Montserrat";
    font-size: 13px;
    font-weight:700;
}

/* Header */

header {
    background-color: #dc3545;
    height:62vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid black 2Px; */
}

.header-img {
    width:12.5vw;
}

.header-titres {
    /* border: black solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-titres h1 {
    color:white;
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    /* border: solid black 2px; */
}

.header-titres h3 {
    color:white;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
    /* border: solid black 2px; */
    margin-top: -20px;
    letter-spacing: -0.5px;
}

/* Section 1 - portfolio */

.section1 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section1-titre {
    display:flex;
    justify-content: center;
    align-items: center;
}

.section1-titre h2 {
    font-family: "Montserrat";
    color:#2c3e50;
    font-weight: 700;
    font-size: 36px;
}

.imgs-rangee1 {
    display: flex;
    /* border: solid rgb(218, 0, 0) 2px; */
    justify-content: center;
    align-items: center;
    gap:30px;
}

.imgs-rangee2 {
    display: flex;
    /* border: solid rgb(218, 0, 0) 2px; */
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top:22px;
}

.imgs {
    margin-top:-21px;
}


.imgs img {
    width:270px;
    border-radius: 8px;
    margin: 5px;
}

/* Section 2 - About */

.about {
    background-color: #dc3545;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid black 2px; */
}

.about-all {
    width:36vw;
    height:50vh;
    /* border: black solid 2px; */
}

.about-titre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-titre h2 {
    color:white;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
}

.about-textes {
    display:flex;
    gap:20px;
    justify-content: space-between;
    /* border: solid black 2px; */
}

.about-textes p {
    /* border: solid black 2px; */
    flex:1;
}

.about-textes p {
    color:white;
    font-family: "Lato";
    font-size: 16px;
}